<app-menu (dataChange)="dataChanged($event)"></app-menu><br>
<div *ngIf="loaded" class="p-10">
  <div class="card w-96 bg-base-100 shadow-xl">
    <figure><img src="assets/img/profileicon/{{ data.profileIconId }}.png"
                 alt="profileIcon" class="rounded-md"/></figure>
    <div class="card-body">
      <h2 class="card-title">
        {{ data.name }}
      </h2>
      <p>Level: {{ data.summonerLevel }}</p>
      <div class="card-actions justify-end">
        <div [class]="rank.tier | rankText" class="badge badge-outline" *ngFor="let rank of league">{{ rank.queueType | rankType }} | {{ rank.tier | titlecase }} {{ rank.rank }}
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="overflow-x-auto w-full" *ngFor="let game of match">
    <div class="stats p-5 pt-20 shadow">

      <div class="stat" [className]="game.participants | gameStatus:data.id">
        <div class="stat-title">{{ game.gameDuration | gameTime }}</div>
        <div class="stat-value">{{ game.queueId | gameType }}</div>
        <div class="stat-desc">{{ game.gameEndTimestamp | date:'short' }}</div>
      </div>

    </div>
    <table class="table w-full">
      <!-- head -->
      <thead>
      <tr>
        <th>Name</th>
        <th>Champion</th>
        <th>Stat</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <!-- row 1 -->
      <tr *ngFor="let member of game.participants">
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img src="assets/img/profileicon/{{ member.profileIcon }}.png" alt="Avatar Tailwind CSS Component" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{ member.summonerName }}</div>
              <div class="text-sm opacity-50">Level: {{ member.summonerLevel }}</div>
            </div>
          </div>
        </td>
        <td>
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <img src="assets/img/champion/{{ member.championName | championIconFix }}.png" alt="Avatar Tailwind CSS Component" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{ member.championName }}</div>
              <div class="text-sm opacity-50">Role: {{ member.lane | roleType }}</div>
            </div>
          </div>
        </td>
        <td>
          <div>
            <div class="font-bold">{{ member.kills }}/{{ member.deaths }}/{{ member.assists }}</div>
          </div>
        </td>
        <th>
          <a href="#{{ member.summonerName }}" class="btn">More...</a>
          <!-- Put this part before </body> tag -->
          <div class="modal" id="{{ member.summonerName }}">
            <div class="modal-box">
              <h3 class="font-bold text-lg">{{ member.summonerName }}</h3>
              <div class="py-4">
                <div class="badge badge-success" *ngIf="member.firstBloodKill">First Blood</div>
                <div class="badge badge-success" *ngIf="member.firstTowerKill">First Tower</div>
                <div class="badge badge-success" *ngIf="member.doubleKills">Double Kill: {{ member.doubleKills }}</div>
                <div class="badge badge-success" *ngIf="member.tripleKills">Triple Kill: {{ member.tripleKills }}</div>
                <div class="badge badge-success" *ngIf="member.quadraKills">Quadra Kill: {{ member.quadraKills }}</div>
                <div class="badge badge-success" *ngIf="member.pentaKills">Penta Kill: {{ member.pentaKills }}</div>
              </div>
              <div class="modal-action">
                <a href="#" class="btn">Exit!</a>
              </div>
            </div>
          </div>
        </th>
      </tr>
      </tbody>
      <!-- foot -->
      <tfoot>
      <tr>
        <th>Name</th>
        <th>Champion</th>
        <th>Stat</th>
        <th></th>
      </tr>
      </tfoot>
    </table>
  </div>
  <br>
</div>
<br>

